.age-calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode-toggle {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.dark-mode-toggle:hover {
    color: #555;
}

h1 {
    margin-top: 0;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}
