nav {
    background-color: #333;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 15px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
